<%= bootstrap_grid_start 12 %>
  <%= h1 t(:lawsuit_blocks) %>
<%= bootstrap_grid_close %>
<%= bootstrap_grid_start 6 %>
<div id="<%= Html::CSS_SELECTED_ID %>">
  <% if @lawsuit_blocks.blank? %>
    <%= p t(:list_empty), Html::CSS_LEAD %>
  <% else %>
    <%= bootstrap_list %>
      <% @lawsuit_blocks.each do |lb| %>
        <%= li lb.block.name %>
      <% end %>
    <%= bootstrap_list_close %>
  <% end %>
</div>
<%= bootstrap_grid_next 6 %>
<div id="listDiv">
  <ul class="toggle1" id="list">
    <% if @block_groups.blank? %>
      <%= p t(:list_empty), Html::CSS_LEAD %>
    <% else %>
      <% @block_groups.each do |g| %>
      <li> <%= g.name %>
        <ul class="collapsible1 toggle2">
          <% g.block_subgroups.each do |s| %>
          <li> <%= s.name %>
            <ul class="collapsible2">
              <% s.blocks.each do |b| %>
                <li draggable="true" id="<%= b.id.to_s %>"><%= b.name %></li>
              <% end %>
            </ul>
          </li>
          <% end %>
        </ul>
      </li>
      <% end %>
    <% end %>
  </ul>
</div>
<%= bootstrap_grid_close %>
<div id="lawsuit_id_token" lawsuitId="<%= @lawsuit_id %>" hidden="hidden"></div>
<%= bootstrap_lower_menu %>
  <%= link_to t(:back), lawsuits_path %>
<%= bootstrap_lower_menu_close %>