<%= bootstrap_grid_start 12 %>
  <%= h1 t(:lawsuit_blocks) + ': ' + @lawsuit.name %>
<%= bootstrap_grid_close %>
<%= bootstrap_grid_start 6 , '', 'lawsuit-blocks-widget' %>
<div id="selectedDiv"><div class="head lead"> Додані блоки </div><ul id="selected"></ul></div>
<%= bootstrap_grid_next 6 %>
<div id="listDiv">
  <div class="head lead"> Існуючі блоки </div>
  <ul class="toggle1" id="list">
    <% if @block_groups.blank? %>
      <%= p t(:list_empty), Html::CSS_LEAD %>
    <% else %>
      <% @block_groups.each do |g| %>
      <li> <%= g.name %>
        <ul class="collapsible1 toggle2">
          <% g.block_subgroups.each do |s| %>
          <li> <%= s.name %>
            <ul class="collapsible2">
              <% s.blocks.each do |b| %>
                  <li draggable="true" id="<%= b.id.to_s %>"><a draggable="false" href="/lawsuit_blocks/block/<%= b.id.to_s %>"><%= b.name %></a></li>
              <% end %>
            </ul>
          </li>
          <% end %>
        </ul>
      </li>
      <% end %>
    <% end %>
  </ul>
</div>
<%= bootstrap_grid_close %>
<%= bootstrap_grid_start 12, '', 'lawsuit-blocks-widget'%>
  <%= text_preview @lawsuit.text, 'lawsuit-text' %>
<%= bootstrap_grid_close %>
<div id="lawsuit_id_token" lawsuitId="<%= @lawsuit.id %>" hidden="hidden"></div>
<%= bootstrap_lower_menu %>
  <%= link_to t(:new_block), new_block_path %>
  <%= link_to t(:back), lawsuits_path %>
<%= bootstrap_lower_menu_close %>