<%= form_for(block_part) do |f| %>
  <% if block_part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(block_part.errors.count, "error") %> prohibited this block_part from being saved:</h2>

      <ul>
      <% block_part.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :text %>
    <%= f.text_area :text %>
  </div>

  <div class="field">
    <%= f.label :weight %>
    <%= f.number_field :weight %>
  </div>

  <div class="field">
    <%= f.label :text_style_id %>
    <%= f.text_field :text_style_id %>
  </div>

  <div class="field">
    <%= f.label :block_id %>
    <%= f.text_field :block_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
