<p id="notice"><%= notice %></p>

<h1>Block Parts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Text</th>
      <th>Weight</th>
      <th>Text style</th>
      <th>Block</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @block_parts.each do |block_part| %>
      <tr>
        <td><%= block_part.name %></td>
        <td><%= block_part.text %></td>
        <td><%= block_part.weight %></td>
        <td><%= block_part.text_style %></td>
        <td><%= block_part.block %></td>
        <td><%= link_to 'Show', block_part %></td>
        <td><%= link_to 'Edit', edit_block_part_path(block_part) %></td>
        <td><%= link_to 'Destroy', block_part, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Block Part', new_block_part_path %>
