<h1>Edit Category</h1>

<%= form_for @category, :url =>{:action => 'update', :id =>@category} do |f| %>

    <p>Name: <%= f.text_field 'name' %></p>
    <p>Weight: <%= f.text_field  'weight' %></p>

    <%= f.submit 'Save changes' %>
<% end %>

<%= lower_menu ({:Back => 'list' }) %>