<h1>Add new</h1>

<%= form_tag :action => 'create' do |e| %>
    <p><label for = "category_name">Name</label>:
      <%= text_field :category, :name %></p>

    <p><label for = "category_weight">Weight</label>:
      <%= number_field :category, :weight %></p>

    <%= submit_tag 'Create' %>

<% end -%>

<%= link_to 'Back', {:action => 'list'} %>