<div class="row">
  <div class="page-header col-sm-12">
    <h1>Edit Subcategory</h1>
  </div>
</div>
<%= form_for @subcategory, :url =>{:action => 'update', :id =>@subcategory} do |f| %>
<div class="row">
  <div class="col-sm-6 item-list">
    <p>Name: <%= f.text_field 'name' %></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 item-list">
    <p>Category: <%= f.collection_select(:category_id, @categories, :id, :name, prompt: true) %> </p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 item-list">
    <p>Weight: <%= f.text_field  'weight' %></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 item-list">
    <%= f.submit 'Save changes' %>
  </div>
</div>
<% end %>

<%= render :partial => '/layouts/menu', :locals => {:links => {:Back => 'index'} } %>