<h1>Add new</h1>

<%= form_for @subcategory, :url => {:action => 'create'} do |e| %>
    <p><label for = "category_name">Name</label>:
      <%= e.text_field :name %></p>

    <p><label for = "subcategory_category_id">Category</label>:
      <%= e.collection_select( :category_id, @categories, :id, :name, prompt: true) %></p>

    <p><label for = "category_weight">Weight</label>:
      <%= e.number_field :weight %></p>

    <%= e.submit 'Create' %>

<% end -%>

<%= link_to 'Back', {:action => 'index'} %>