<div class="row">
  <div class="page-header col-sm-12">
    <h1><%= @subcategory.name %></h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 item-list">
    <p><strong>Name: </strong> <%= @subcategory.name %></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 item-list">
    <p><strong>Category: </strong> <%= @subcategory.category.name %></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 item-list">
    <p><strong>Weight: </strong> <%= @subcategory.weight %></p>
  </div>
</div>

<%= render :partial => '/layouts/menu', :locals => {:links => {:Edit => "edit%#{@category.id.to_s}", :Delete => "destroy%#{@category.id.to_s}", :Back => 'index'} } %>