<p id="notice"><%= notice %></p>

<p>
  <strong>Block field:</strong>
  <%= @block_field_block_part.block_field %>
</p>

<p>
  <strong>Block part:</strong>
  <%= @block_field_block_part.block_part %>
</p>

<%= link_to 'Edit', edit_block_field_block_part_path(@block_field_block_part) %> |
<%= link_to 'Back', block_field_block_parts_path %>
