<!--TEASER-->
<%= bootstrap_row %>
  <%= bootstrap_col_12 'page-header' %>
    <h1><%= t(:welcome_on_site) %></h1>
  <%= bootstrap_close %>
<%= bootstrap_close %>
<%= bootstrap_row %>
  <%= bootstrap_col_6 %>
    <div class="inspector teaser-icon"></div><p class="teaser-text lead"><%= t(:not_agree_with_inspector?) %></p>
  <%= bootstrap_close %>
  <%= bootstrap_col_6 %>
    <div class="protocol teaser-icon"></div><p class="teaser-text lead"><%= t(:protocol_conclusions_lie?) %></p>
  <%= bootstrap_close %>
<%= bootstrap_close %>
<%= bootstrap_row %>
  <%= bootstrap_col_6 %>
    <div class="expensive teaser-icon"></div><p class="teaser-text lead"><%= t(:advocate_expensive?) %></p>
  <%= bootstrap_close %>
  <%= bootstrap_col_6 %>
    <div class="laws teaser-icon"></div><p class="teaser-text lead"><%= t(:no_time_to_study_law?) %></p>
  <%= bootstrap_close %>
<%= bootstrap_close %>
<%= bootstrap_row %>
  <%= bootstrap_col_6 %>
    <div class="alone teaser-icon"></div><p class="teaser-text lead"><%= t(:no_one_to_consult?) %></p>
  <%= bootstrap_close %>
  <%= bootstrap_col_6 %>
    <div class="but teaser-icon"></div><p class="teaser-text lead"><%= t(:but_you_are_ready_to_fight?) %></p>
  <%= bootstrap_close %>
<%= bootstrap_close %>
<%= bootstrap_row %>
  <%= bootstrap_col_6 %>
    <div class="idea teaser-icon"></div><p class="teaser-text lead"><%= t(:solution_exists_you_should_prepare_lawsuit) %></p>
  <%= bootstrap_close %>
  <%= bootstrap_col_6 %>
    <div class="go teaser-icon"></div><p class="teaser-text lead"><%= t(:make_preparations_and_act) %></p>
  <%= bootstrap_close %>
<%= bootstrap_close %>
<!--EOF_TEASER-->