<%= form_for(block_field) do |f| %>
  <% if block_field.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(block_field.errors.count, "error") %> prohibited this block_field from being saved:</h2>

      <ul>
      <% block_field.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :text %>
    <%= f.text_field :text %>
  </div>

  <div class="field">
    <%= f.label :weight %>
    <%= f.number_field :weight %>
  </div>

  <div class="field">
    <%= f.label :data_type %>
    <%= f.number_field :data_type %>
  </div>

  <div class="field">
    <%= f.label :marker %>
    <%= f.text_field :marker %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
