<%= form_for(category) do |f| %>
  <!-- TODO REFACTOR ERROR MESSAGES -->
    <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this block from being saved:</h2>
      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= bootstrap_row HtmlHelper::CSS_FIELD %>
    <%= bootstrap_col 2 %>
      <%= f.label t(:name) %>
    <%= bootstrap_close %>
    <%= bootstrap_col_6 %>
      <%= f.text_field :name %>
    <%= bootstrap_close %>
  <%= bootstrap_close %>
  <%= bootstrap_row HtmlHelper::CSS_FIELD %>
    <%= bootstrap_col 2 %>
      <%= f.label t(:weight) %>
    <%= bootstrap_close %>
    <%= bootstrap_col_6 %>
      <%= f.number_field :weight %>
    <%= bootstrap_close %>
  <%= bootstrap_close %>
  <%= bootstrap_row HtmlHelper::CSS_ACTIONS %>
    <%= bootstrap_col_6 HtmlHelper::CSS_LIST_ITEM %>
      <%= f.submit t(:save) %>
    <%= bootstrap_close %>
  <%= bootstrap_close %>
<% end %>
