<div class="row">
  <div class="page-header col-sm-12">
    <h1>Add new</h1>
  </div>
</div>
<%= form_for @category, :url => {:action => 'create'} do |f| %>
<div class="row">
  <div class="col-sm-6 item-list">
    <p><label for = "category_name">Name</label>:
      <%= f.text_field :name %></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 item-list">
    <p><label for = "category_weight">Weight</label>:
      <%= f.number_field :weight %></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 item-list">
    <%= f.submit 'Create' %>
  </div>
</div>
<% end -%>

<%= render :partial => '/layouts/menu', :locals => {:links => {:Back => 'index'} } %>