<%= form_for(web_resource) do |f| %>
  <% if web_resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(web_resource.errors.count, "error") %> prohibited this web_resource from being saved:</h2>

      <ul>
      <% web_resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_field :body %>
  </div>

  <div class="field">
    <%= f.label :key %>
    <%= f.text_field :key %>
  </div>

  <div class="field">
    <%= f.label :weight %>
    <%= f.number_field :weight %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
