<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags must come first in the head; any other head content must come after these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/icon.png">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <title><%= t(:default_title) %></title>
  <!-- Custom styles -->
  <!--link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" /-->
</head>
  <body>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <div class="logo"><a class="navbar-brand" href="/"></a></div>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="<%= request.path == '/'? 'active': '' %>"><a href="/"><%= t(:home) %></a></li>
          <li class="<%= request.path == '/lawsuits_list'? 'active': '' %>"><a href="/lawsuits_list"><%= t(:lawsuits) %></a></li>
          <li class="<%= request.fullpath == '/page?key=advices'? 'active': '' %>"><a href="/page?key=advices"><%= t(:advices) %></a></li>
          <li class="<%= request.fullpath == '/page?key=about'? 'active': '' %>"><a href="/page?key=about"><%= t(:about) %></a></li>
          <% if user_signed_in? %>
            <li class="<%= request.path == '/penetrate'? 'active': '' %>"><a href="/penetrate"><%= t(:admin) %></a></li>
            <li> <%= link_to(t(:sign_out), destroy_user_session_path, :method => :delete) %> </li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <!-- Begin page content -->
  <div class="container">
    <!-- System messages go here -->
    <%= render :partial => Html::PATH_MESSAGE %>
    <!-- Views go here -->
    <%= yield %>
  </div>
  <footer class="footer">
    <div class="container">
      <p class="text-muted">&copy; 2016</p>
    </div>
  </footer>
  </body>
</html>